.woocommerce p.stars.selected a.active:before, .woocommerce p.stars:hover a:before {

    color: #3498db;

}

.woocommerce p.stars.selected a:not(.active):before {

    color: #3498db;

}



#header .opener-icons:hover {

  background: #3498db;

}

#header .header-top a:hover {

  color: #3498db;

}

#header .head-social a {

  color: #3498db;

  border-color: #3498db;

}

#header .head-social a:hover {

  background: #3498db;

}

#header .head-socialnetworks a:hover {

  color: #3498db;

}



#header .cart-box .cart-drop .cart-holder:after {

  background: #3498db;

}

#header .cart-box .cart-drop a:hover {

  color: #3498db;

}

#header .cart-box .cart-drop .total-price-area .price {

  color: #3498db;

}

#header .cart-box .cart-drop .btn {

  background: #3498db;

  border-color: #3498db;

}

#header .cart-box .cart-drop .btn.add:hover {

  background: #3498db;

  border-color: #3498db;

}

#header .cart-box .cart-list .product-name a:hover {

  color: #3498db;

}

#header .cart-box .cart-list .rating li .fa-star {

  color: #3498db;

}

#header .cart-box .cart-list .delete:hover {

  color: #3498db;

}

#header .lang-drop {

  border-bottom-color: #3498db;

}

#header .lang-drop a:hover {

  color: #3498db;

}

#header .leng-opener:hover {

  color: #3498db;

}

#header .cartopener-main .cart-num {

  background: #3498db;

}

#header.style3 .opener-icons:hover {

  border-color: #3498db;

}

#header.style3 .cart-opener .arrow {

  background: #3498db;

}

#header.style4 .opener-icons:hover {

  color: #3498db;

}

#header.style4 #nav .nav-top > li > a:hover {

  color: #3498db;

  border-color: #3498db;

}

#header.style4 #nav .nav-top > li.hover > a, #header.style4 #nav .nav-top > li:hover > a, #header.style4 #nav .nav-top > li.active > a {

  color: #3498db;

  border-color: #3498db;

}

#header.style4 #nav .nav-opener:hover {

  border-color: #3498db;

}

#header.style5 .opener-icons:hover {

  border-color: #3498db;

}

#header.style5 #nav .nav-top > li:hover > a, #header.style5 #nav .nav-top > li.hover > a, #header.style5 #nav .nav-top > li.active > a {

  color: #3498db;

}

#header.style5 #nav .nav-top > li > a:hover {

  color: #3498db;

}

#header.style5 #nav .nav-opener:hover {

  border-color: #3498db;

}

#header.style7 .opener-icons:hover {

  color: #3498db;

}

#header.style7 #nav .nav-top > li > a:hover {

  color: #3498db;

  border-color: #3498db;

}

#header.style7 #nav .nav-top > li.hover > a, #header.style7 #nav .nav-top > li:hover > a, #header.style7 #nav .nav-top > li.active > a {

  color: #3498db;

  border-color: #3498db;

}

#header.style7 #nav .nav-opener:hover {

  border-color: #3498db;

}

#header.style8 #nav .nav-top > li > a:hover {

  color: #3498db;

  border-color: #3498db;

}

#header.style8 #nav .nav-top > li:hover > a, #header.style8 #nav .nav-top > li.hover > a, #header.style8 #nav .nav-top > li.active > a {

  color: #3498db;

  border-color: #3498db;

}

#header.style8 #nav .nav-opener:hover {

  border-color: #3498db;

}

#header.style8 .opener-icons:hover {

  color: #3498db;

}

#header.style10 #nav .nav-top > li > a:hover {

  color: #3498db;

  border-color: #3498db;

}

#header.style10 #nav .nav-top > li:hover > a, #header.style10 #nav .nav-top > li.hover > a, #header.style10 #nav .nav-top > li.active > a {

  color: #3498db;

  border-color: #3498db;

}

#header.style11 #nav .nav-top > li > a:hover {

  color: #3498db;

  border-color: #3498db;

}

#header.style11 #nav .nav-top > li.hover > a, #header.style11 #nav .nav-top > li:hover > a, #header.style11 #nav .nav-top > li.active > a {

  color: #3498db;

  border-color: #3498db;

}

#header.style11 #nav .nav-opener:hover {

  border-color: #3498db;

}

#header.style12 .info-list a:hover {

  color: #3498db;

}

#header.style12 .info-list .fa {

  color: #3498db;

}

#header.style12 .language-nav a:hover {

  color: #3498db;

}

#header.style12 #nav:after {

  background: #3498db;

}

#header.style12 #nav .quote-btn:hover {

  color: #3498db;

}

#header.style12 #nav .nav-opener:hover {

  border-color: #3498db;

}

#header.style16 #nav .nav-top > li > a:hover {

  color: #3498db;

  border-color: #3498db;

}

#header.style16 #nav .nav-top > li:hover > a, #header.style16 #nav .nav-top > li.hover > a, #header.style16 #nav .nav-top > li.active > a {

  color: #3498db;

  border-color: #3498db;

}

#header.style16 .opener-icons:hover {

  color: #3498db;

}

#header.style16 #nav .nav-opener:hover {

  border-color: #3498db;

}

#header.style17 #nav .nav-top > li > a:hover {

  border-color: #3498db;

}

#header.style17 #nav .nav-top > li:hover > a, #header.style17 #nav .nav-top > li.hover > a, #header.style17 #nav .nav-top > li.active > a {

  border-color: #3498db;

}

#header.style18 .info-list a:hover {

  color: #3498db;

}

#header.style18 .info-list .fa {

  color: #3498db;

}

#header.style18 .head-socialnetworks a:hover {

  color: #3498db;

}

#header.style18 #nav .quote-btn {

  background: #3498db;

}

#header.style18 #nav .nav-top > li > a:hover {

  border-color: #3498db;

}

#header.style18 #nav .nav-top > li:hover > a, #header.style18 #nav .nav-top > li.hover > a, #header.style18 #nav .nav-top > li.active > a {

  border-color: #3498db;

}

#header.style18 #nav .nav-opener:hover {

  border-color: #3498db;

}

#header.style20 #nav .nav-top > li > a:hover {

  color: #3498db;

  border-color: #3498db;

}

#header.style20 #nav .nav-top > li:hover > a, #header.style20 #nav .nav-top > li.hover > a, #header.style20 #nav .nav-top > li.active > a {

  color: #3498db;

  border-color: #3498db;

}

#header.style20 #nav .nav-opener:hover {

  border-color: #3498db;

}

#header.style20 .opener-icons:hover {

  color: #3498db;

}

#header.style21 .header-top:after {

  background: #3498db;

}

#header.style21 #nav .nav-top > li > a:hover {

  color: #3498db;

  border-color: #3498db;

}

#header.style21 #nav .nav-top > li.hover > a, #header.style21 #nav .nav-top > li:hover > a, #header.style21 #nav .nav-top > li.active > a {

  color: #3498db;

  border-color: #3498db;

}

#header.style21 #nav .nav-opener:hover {

  border-color: #3498db;

}

#header.style21 .opener-icons:hover {

  color: #3498db;

}

#header.style26 #nav .nav-top > li > a:hover {

  border-color: #3498db;

}

#header.style26 #nav .nav-top > li:hover > a, #header.style26 #nav .nav-top > li.hover > a, #header.style26 #nav .nav-top > li.active > a {

  border-color: #3498db;

}

#header.style27 #nav .nav-top > li > a:hover {

  border-color: #3498db;

}

#header.style27 #nav .nav-top > li:hover > a, #header.style27 #nav .nav-top > li.hover > a, #header.style27 #nav .nav-top > li.active > a {

  border-color: #3498db;

}

#header.style27 #nav .nav-opener:hover {

  border-color: #3498db;

}

#header.style27 .opener-icons:hover {

  background: #3498db;

  border-color: #3498db;

}

#header.fixed-position #nav .nav-top > li:hover > a, #header.fixed-position #nav .nav-top > li.hover > a, #header.fixed-position #nav .nav-top > li.active > a {

  color: #3498db;

}

#header.fixed-position #nav .nav-top > li > a:hover {

  color: #3498db;

}

#header.fixed-position .opener-icons:hover {

  border-color: #3498db;

}

#header.fixed-position.style4 .opener-icons:hover {

  color: #3498db;

}

#header.fixed-position.style7 .opener-icons:hover {

  color: #3498db;

}

#header.fixed-position.style8 .opener-icons:hover {

  color: #3498db;

}

#header.fixed-position.style9 #nav .nav-top > li > a:hover, #header.fixed-position.style9 #nav .nav-top > li:hover > a, #header.fixed-position.style9 #nav .nav-top > li.hover > a, #header.fixed-position.style9 #nav .nav-top > li.active > a {

  color: #3498db;

}

#header.fixed-position.style9 #nav .nav-top > li > a:hover {

  color: #3498db;

}

#header.fixed-position.style10 #nav .nav-top > li:hover > a, #header.fixed-position.style10 #nav .nav-top > li.hover > a, #header.fixed-position.style10 #nav .nav-top > li.active > a {

  color: #3498db;

}

#header.fixed-position.style10 #nav .nav-top > li > a:hover {

  color: #3498db;

}

#header.fixed-position.style10 .icon-list > li .opener-icons:hover {

  border-color: #3498db;

}

#header.fixed-position.style10 .icon-list > li:hover .opener-icons {

  border-color: #3498db;

}

#header.fixed-position.style16 .opener-icons:hover {

  color: #3498db;

}

#header.fixed-position.style17 #nav .nav-top > li.active > a,

#header.fixed-position.style17 #nav .nav-top > li:hover > a,

#header.fixed-position.style17 #nav .nav-top > li.hover > a,

#header.fixed-position.style17 #nav .nav-top > li > a:hover {

  color: #3498db;

}

#header.fixed-position.style17 .opener-icons:hover {

  background: #3498db;

  border-color: #3498db;

}

#header.fixed-position.style19 #nav .nav-top > li.active > a,

#header.fixed-position.style19 #nav .nav-top > li:hover > a,

#header.fixed-position.style19 #nav .nav-top > li.hover > a,

#header.fixed-position.style19 #nav .nav-top > li > a:hover {

  color: #3498db;

}

#header.fixed-position.style20 .opener-icons:hover {

  color: #3498db;

}

#header.fixed-position.style21 .opener-icons:hover {

  color: #3498db;

}



#nav a:hover {

  color: #3498db;

}

#nav li.hover > a,

#nav li:hover > a,

#nav li.active > a {

  color: #3498db;

}

#nav .drop ul:after {

  background: #3498db;

}

#nav .mega-drop .drop-holder:after {

  background: #3498db;

}

#nav .nav-opener:hover {

  background: #3498db;

  border-color: #3498db;

}



.search-popup .close-btn:hover {

  background: #3498db;

}

.search-popup .submit:hover {

  color: #3498db;

}



.side-widget h2:after {

  background: #3498db;

}

.side-widget a:hover {

  color: #3498db;

}

.side-widget .btn {

  background: #3498db;

  border-color: #3498db;

}



.sidemenu-photo.v9 #nav7 ul a:hover, .sidemenu-photo.v11 #nav7 ul a:hover, .sidemenu-photo.v11 #nav7 ul li.active a, .sidemenu-photo.v9 #nav7 .nav-opener:hover, .sidemenu-photo.v10 #nav7 .nav-opener:hover, .sidemenu-photo.v10 #nav7 ul a:hover {

  color: #3498db;

}



#footer.style11 .btn-more:hover {

  background: #3498db;

  border-color: #3498db;

}

#footer.style13 .f-info-box .tel {

  color: #3498db;

}

#footer.style15 .footer-bottom .footer-nav li a:hover {

  color: #3498db;

}

#footer.style17 .footer-bottom .footer-nav li a:hover {

  color: #3498db;

}

#footer.style19 .f-info-box .tel {

  color: #3498db;

}

#footer.style23 .f-info-box .tel {

  color: #3498db;

}

#footer.style25 .footer-social li a:hover {

  background: #3498db;

}

#footer.style26 .f-info-box .num {

  color: #3498db;

}

#footer.style27 .f-info-box .tel {

  color: #3498db;

}



.mailing-form2 .btn-submit {

  background: #3498db;

}

.mailing-form2 .btn-submit:hover {

  color: #3498db;

}



.bottom-box3 .footer-social a:hover {

  background: #3498db;

}



.f-our-mission .btn-more .fa {

  color: #3498db;

}

.f-our-mission .btn-more:hover {

  color: #3498db;

}



.newsletter-form button:hover {

  color: #3498db;

}



.time-nav .close-txt {

  background: #3498db;

}



#lancer-footer .f-social a:hover {

  background: #3498db;

}

#lancer-footer .footer-bottom ul a:hover {

  color: #3498db;

}



.wed-social .social a:hover {

  background: #3498db;

}



.socialize-holder .footer-social a:hover {

  background: #3498db;

}



.btn-f-default:hover {

  background: #3498db;

  border-color: #3498db;

}



.btn-f-info {

  background: #3498db;

  border-color: #3498db;

}



.btn-history:before {

  background: #3498db;

}

.btn-history:hover {

  background: #3498db;

}

.btn-history:hover:after {

  color: #3498db;

}



.btn-more:hover {

  background: #3498db;

  border-color: #3498db;

}



.btn-resume {

  background: #3498db;

  border-color: #3498db;

}



.know-more {

  background: #3498db;

  border-color: #3498db;

}



.portfolio-view:before, .portfolio-view:after {

  color: #3498db;

}

.portfolio-view:hover span {

  color: #3498db;

}



.page-heading .heading3:before {

  border-color: #3498db transparent transparent;

}



.page-banner .heading:before {

  background: #3498db;

}

.page-banner .breadcrumbs li.active a {

  color: #3498db;

}

.page-banner .breadcrumbs a:hover {

  color: #3498db;

}

.page-banner.grey .breadcrumbs a:hover {

  color: #3498db;

}



.main-slider .slick-dots .slick-active button,

.main-slider .slick-dots button:hover {

  background: #3498db;

  border-color: #3498db;

}



.f-iconbox .icon {

  color: #3498db;

  border-color: #3498db;

}

.f-iconbox:hover .icon {

  background: #3498db;

}

.f-iconbox.light:hover .icon {

  background: #3498db;

  border-color: #3498db;

}



.team-block .over {

  background: #3498db;

}



.team-box .over {

  background: #3498db;

}

.team-box .subtitle a {

  color: #3498db;

}

.team-box .info-box .add-text a {

  color: #3498db;

}

.team-box:hover .social-network {

  background: #3498db;

}

.team-box.style3 .social-network {

  background: #3498db;

}



.testimon-section .icon {

  background: #3498db;

}

.testimon-section .slick-dots li.slick-active button {

  background: #3498db;

  border-color: #3498db;

}

.testimon-section .slick-dots button:hover {

  background: #3498db;

  border-color: #3498db;

}

.testimon-section.alt-version blockquote .fa {

  color: #3498db;

}



.isotop-controls li.active a {

  background: #3498db;

}

.isotop-controls a:hover {

  background: #3498db;

}



.isotop-controls2 a:hover {

  background: none;

}

.isotop-controls2 a:hover:after {

  background: #3498db;

}

.isotop-controls2 li.active a:after {

  background: #3498db;

}



.isotop-controls3 a:hover:after {

  background: #3498db;

}

.isotop-controls3 li.active a:after {

  background: #3498db;

}



.isotop-controls4 a:hover:before {

  background: #3498db;

}

.isotop-controls4 li.active a:before {

  background: #3498db;

}

.isotop-controls4 .view-all:hover:before {

  background: #3498db;

}



.portfolio-block .over .plus {

  color: #3498db;

}

.portfolio-block .title:after {

  background: #3498db;

}

.portfolio-block .search {

  background: #3498db;

}

.portfolio-block .link:hover {

  background: #3498db;

}

.portfolio-block .portfolio-btn:hover {

  background: #3498db;

  border-color: #3498db;

}



.portfolio-text .btn:hover {

  background: #3498db;

  border-color: #3498db;

}



.work-slider .slick-arrow:hover {

  background: #3498db;

}



.price-section .box:hover .heading, .price-section .box.active .heading {

  background: #3498db;

}

.price-section .box:hover .btn, .price-section .box.active .btn {

  background: #3498db;

  border-color: #3498db;

}

.price-section .btn:hover {

  background: #3498db;

  border-color: #3498db;

}

.price-section.style2 .box.active .btn:hover, .price-section.style2 .box:hover .btn:hover {

  background: #3498db;

  border-color: #3498db;

}

.price-section.style3 .box.active .heading, .price-section.style3 .box:hover .heading {

  background: #3498db;

}

.price-section.style5 .box.active, .price-section.style5 .box:hover {

  border-color: #3498db;

}

.price-section.style5 .box.active .heading, .price-section.style5 .box:hover .heading {

  background: #3498db;

}

.price-section.style5 .box.active .btn-purchase, .price-section.style5 .box:hover .btn-purchase {

  background: #3498db;

  border-color: #3498db;

}



.blog-section .beans-stepslider .slick-dots li.slick-active button {

  border-color: #3498db;

}

.blog-section .beans-stepslider .slick-dots li.slick-active button:after {

  background: #3498db;

}

.blog-section .beans-stepslider .slick-dots button:hover {

  border-color: #3498db;

}

.blog-section .beans-stepslider .slick-dots button:after {

  background: #3498db;

}



.blog-m-post h3 a:hover {

  color: #3498db;

}

.blog-m-post .meta a:hover {

  color: #3498db;

}

.blog-m-post .icon {

  background: #3498db;

}

.blog-m-post.style2 .blog-txt {

  border-color: #3498db;

}



.facts-section .fa {

  color: #3498db;

}

.facts-section .num:after {

  background: #3498db;

}



.clients-section .beans-stepslider .slick-next:hover,

.clients-section .beans-stepslider .slick-prev:hover {

  background: #3498db;

  border-color: #3498db;

}



.wedo-section .coll:hover .icon {

  background: #3498db;

  border-color: #3498db;

}

.wedo-section .coll:hover .btn {

  background: #3498db;

  border-color: #3498db;

}

.wedo-section .icon:hover {

  background: #3498db;

  border-color: #3498db;

}



.counter-container .fa {

  color: #3498db;

}

.counter-container .num:after {

  background: #3498db;

}



.services-section h3 .fa {

  color: #3498db;

}



.video-section .play-icon {

  color: #3498db;

}



.process-section .icon .num {

  background: #3498db;

}



.progress-holder .progress-bar-outer {

  background: #3498db;

}



.features-section .fa {

  color: #3498db;

}



.core-section .list li:after {

  color: #3498db;

}



.twitter-section a {

  color: #3498db;

}



.appshowcase-banner .platform a:hover {

  color: #3498db;

}



.about-section .fa {

  color: #3498db;

}

.about-section .know-more {

  background: #3498db;

  border-color: #3498db;

}



.counter-section .num:after {

  background: #3498db;

}



.team-lightbox .socialnetworks a:hover {

  color: #3498db;

}



.app-mainbanner h1 .add {

  color: #3498db;

}

.app-mainbanner .btn {

  background: #3498db;

}



.get-app .platform a:hover {

  color: #3498db;

}



.appsub-section .input-box #mc_embed_signup input.button {

  background: #3498db;

}



.architecture-gallery .subtitle {

  background: #3498db;

}

.architecture-gallery .slick-arrow:hover {

  color: #3498db;

}

.architecture-gallery .slick-arrow:after {

  background: #3498db;

}



.archi-columns .coll:hover {

  background: #3498db;

}

.archi-columns h2:after {

  background: #3498db;

}



.archi-projects .heading-v2:after {

  background: #3498db;

}

.archi-projects h3:after {

  background: #3498db;

}

.archi-projects .beans-slider .slick-dots li button:hover {

  background: #3498db;

  border-color: #3498db;

}

.archi-projects .beans-slider .slick-dots li.slick-active button {

  border-color: #3498db;

  background: #3498db;

}



.archi-whyus h2 .add {

  color: #3498db;

}



.blog-over h2 a:hover {

  color: #3498db;

}

.blog-over .author-info .txt a:hover {

  color: #3498db;

}

.blog-over .blog-nav li a:hover {

  color: #3498db;

}



.blog-post-v1 .more:hover {

  color: #3498db;

}

.blog-post-v1 h2 a:hover {

  color: #3498db;

}

.blog-post-v1 h3 {

  color: #3498db;

}

.blog-post-v1 h3 a {

  color: #3498db;

}

.blog-post-v1 .meta a:hover {

  color: #3498db;

}

.blog-post-v1 .icon {

  background: #3498db;

}

.blog-post-v1 .post-blockquote {

  border-color: #3498db;

}



.blog-footer .btn-box .btn:hover {

  background: #3498db;

  border-color: #3498db;

}

.blog-footer .btn-load:hover {

  background: #3498db;

  border-color: #3498db;

}

.blog-footer .b-pagination li.active a {

  background: #3498db;

  border-color: #3498db;

}

.blog-footer .b-pagination a:hover {

  background: #3498db;

  border-color: #3498db;

}



.blog-post-v2 h2 a:hover {

  color: #3498db;

}

.blog-post-v2 .meta a:hover {

  color: #3498db;

}

.blog-post-v2 .icon {

  background: #3498db;

}



.widget .searchform button {

  background: #3498db;

}

.widget .tabset a:hover {

  background: #3498db;

}

.widget .tabset .active a {

  background: #3498db;

}

.widget.cate-widget a:hover {

  color: #3498db;

}

.widget.cate-widget a .fa {

  color: #3498db;

}

.widget.cate-widget ul li.active a {

  color: #3498db;

}



.comment-box .box.img-box .reply:hover {

  color: #3498db;

}



.comment-form .btn {

  background: #3498db;

}



.blog-isotop-nav li.active a {

  background: #3498db;

}

.blog-isotop-nav a:hover {

  background: #3498db;

}



.welcome-heading .main-text .rotate-text {

  background: #3498db;

}



.about-post h3 a:hover {

  color: #3498db;

}



.about-post .btn:hover {

  background: #3498db;

  border-color: #3498db;

}



.nav-tabs > li > a:before {

  background: #3498db;

}

.nav-tabs > li > a:after {

  border-color: #3498db transparent transparent transparent;

}

.nav-tabs > li.active > a:before, .nav-tabs > li.active > a:hover:before, .nav-tabs > li.active > a:focus:before {

  background: #3498db;

}

.nav-tabs > li.active > a:after, .nav-tabs > li.active > a:hover:after, .nav-tabs > li.active > a:focus:after {

  border-color: #3498db transparent transparent transparent;

}



.panel-title a {

  background: #3498db;

}

.panel-title a:hover {

  background: #3498db;

}

.dark .panel-title a.collapsed:hover {

  background: #3498db;

}



.create-business h2 a {

  color: #3498db;

}

.create-business .btn-f-info:hover {

  background: #3498db;

  border-color: #3498db;

}

.create-business .btn-f-default {

  background: #3498db;

  border-color: #3498db;

}



.construct-gallery .title {

  border-left-color: #3498db;

}

.construct-gallery .btn:before {

  background: #3498db;

}

.construct-gallery .btn:hover {

  background: #3498db;

}

.construct-gallery .slick-dots li button:hover {

  background: #3498db;

  border-color: #3498db;

}

.construct-gallery .slick-dots li.slick-active button {

  background: #3498db;

  border-color: #3498db;

}



.safety-section h2 .add {

  color: #3498db;

}

.safety-section .btn:before {

  background: #3498db;

}

.safety-section .btn:hover {

  background: #3498db;

}

.safety-section .more:before {

  background: #3498db;

}



.const-services .icon {

  color: #3498db;

}

.const-services .slick-arrow:hover {

  background: #3498db;

}

.const-services.style2 .box .fa {

  color: #3498db;

}

.const-services.style2 .box:hover .over {

  background: rgba(52, 152, 219, 0.8);

}



.onepage-banner .down-arrow:hover {

  color: #3498db;

}



.about-aricle .img-box {

  background: #3498db;

}



.tabset-onepage li a:before {

  background: #3498db;

}

.tabset-onepage li a:hover .fa {

  color: #3498db;

}

.tabset-onepage li.active a .fa {

  color: #3498db;

}



.tab-content.onepage .btn {

  background: #3498db;

  border-color: #3498db;

}



.process-nav li .fa {

  color: #3498db;

}

.process-nav li:hover .process {

  background: #3498db;

  border-color: #3498db;

}



.recentblog-col h3 a:hover {

  color: #3498db;

}

.recentblog-col .meta-nav a:hover {

  color: #3498db;

}

.recentblog-col .date-holder a {

  background: #3498db;

}



.install-demos .btn {

  background: #3498db;

  border-color: #3498db;

}



.contact-form .btn-submit {

  background: #3498db;

  border-color: #3498db;

}



.lancer-do .fa {

  color: #3498db;

}

.lancer-do.style2 .fa {

  color: #3498db;

}

.lancer-do.style2 .list-do a:hover {

  background: #3498db;

}



.personal-process .beans-slider .slick-dots li.slick-active button {

  border-color: #3498db;

  background: #3498db;

}

.personal-process .beans-slider .slick-dots button:hover {

  border-color: #3498db;

  background: #3498db;

}

.personal-process .icon {

  background: #3498db;

}



.personal-exper .p-holder .icon {

  background: #3498db;

}

.personal-exper.style3 h2 a:hover {

  color: #3498db;

}



.p-skills .progress-holder .progress-bar-outer {

  background: #3498db;

}



.port-single ul a {

  color: #3498db;

}



.port-single .social-network a:hover {

  background: #3498db;

}



.portfolio-footer.style2 .btn {

  background: #3498db;

  border-color: #3498db;

}



.realestate-slider .slick-arrow:hover {

  color: #3498db;

}



.realestate-section .tabset li.active a {

  background: #3498db;

  border-left-color: #3498db;

}

.realestate-section .tabset li:hover a {

  background: #3498db;

  border-left-color: #3498db;

}

.realestate-section .tab-content {

  background: #3498db;

}



.realestate-services .img-box a:hover {

  color: #3498db;

  border-color: #3498db;

}

.realestate-services .star-list li.active a {

  color: #3498db;

}

.realestate-services .price {

  color: #3498db;

}

.realestate-services .slick-arrow:hover {

  background: #3498db;

  border-color: #3498db;

}



.resturant-gallery .slick-arrow:hover {

  color: #3498db;

}



.menu-block .btn.view:hover {

  background: #3498db;

  border-color: #3498db;

}



.our-menu-nav li a:before {

  background: #3498db;

}

.our-menu-nav li a:hover {

  color: #3498db;

}

.our-menu-nav li.active a {

  color: #3498db;

}



.slide-frame .slide-box h3 a:hover {

  color: #3498db;

}

.slide-frame .slide-box .slide-socials a:hover {

  color: #3498db;

}



.slide-socials a:hover {

  color: #3498db;

}



.menu-article h2 a:hover {

  color: #3498db;

}

.menu-article .rattings-nav li .fa {

  color: #3498db;

}



.shop-gallery .slick-dots li button:hover {

  border-color: #3498db;

  background: #3498db;

}

.shop-gallery .slick-dots li.slick-active button {

  border-color: #3498db;

  background: #3498db;

}



.btn-shop:hover {

  color: #3498db;

}



.btn-shop.add {

  color: #3498db;

}



.product-nav li.active a {

  background: #3498db;

}

.product-nav a:hover {

  background: #3498db;

}



.new-product h2 a:hover {

  color: #3498db;

}

.new-product .btn-cart:hover {

  color: #3498db;

}



.rattings-nav {

  color: #3498db;

}

.rattings-nav li .fa {

  color: #3498db;

}



.special-block .slick-arrow:hover {

  color: #3498db;

}

.special-block.style2 .btn-slider:hover {

  background: #3498db;

  border-color: #3498db;

}



.special-box .btn:hover {

  background: #3498db;

  border-color: #3498db;

}



.other-services:hover {

  background: #3498db;

  border-color: #3498db;

}



.shop-features h2:before {

  background: #3498db;

}



.deal-gallery .name:hover {

  color: #3498db;

}

.deal-gallery .price {

  color: #3498db;

}

.deal-gallery .btn-sale {

  background: #3498db;

}

.deal-gallery .slick-arrow:hover {

  color: #3498db;

  border-color: #3498db;

}



.product-article h3 a:hover {

  color: #3498db;

}



.links-nav a:hover {

  color: #3498db;

}

.links-nav .fa {

  color: #3498db;

}



.social-block.style4 .social-container .footer-social a:hover {

  background: #3498db;

}



.shop-header p a {

  color: #3498db;

}



.shop-footer p a {

  color: #3498db;

}



.shop-next:hover,

.shop-prev:hover {

  background: #3498db;

  border-color: #3498db;

}



.shop-pagination li a:hover {

  background: #3498db;

  border-color: #3498db;

}

.shop-pagination li.active a {

  background: #3498db;

  border-color: #3498db;

}



.shop-widget ul li a:before {

  border-color: transparent transparent transparent #3498db;

}

.shop-widget ul li a:hover {

  color: #3498db;

}



.shop-product-info h2 a:hover {

  color: #3498db;

}

.shop-product-info .btn-cart:hover {

  color: #3498db;

}



.description-header .review:hover {

  color: #3498db;

}



.cart-form .btn:hover {

  background: #3498db;

}



.btn-add .fa {

  color: #3498db;

}

.btn-add:hover {

  color: #3498db;

}



.descriptio-tabs .nav-tabs > li > a:hover {

  background: #3498db;

}

.descriptio-tabs .nav-tabs > li.active > a,

.descriptio-tabs .nav-tabs > li.active > a:hover,

.descriptio-tabs .nav-tabs > li.active > a:focus {

  background: #3498db;

}



.related-shop .btn-prev:hover {

  color: #3498db;

  border-color: #3498db;

}



.reply-box:hover {

  color: #3498db;

}



.shop-table .btn-close:hover {

  color: #3498db;

}



.shop-apply .btn-slider:hover {

  background: #3498db;

}



.apply-form .btn-slider:hover {

  background: #3498db;

}



.shop-calculation.checkout .cart-table .col-2.add {

  color: #3498db;

}



.update-form .btn:hover {

  background: #3498db;

}



.rang-form .btn-form:hover {

  background: #3498db;

}



.travel-slider .slick-arrow:hover {

  color: #3498db;

}



.travel-section .btn-submit {

  background: #3498db;

}



.wedding-banner .slick-arrow:hover {

  color: #3498db;

}



.wedding-nav .countdown-section {

  background: #3498db;

}



.happy-couple h3 a:hover {

  color: #3498db;

}

.happy-couple .title {

  color: #3498db;

}

.happy-couple .social a:hover {

  color: #3498db;

}



.love-story .row-holder time {

  background: #3498db;

}

.love-story h3 a:hover {

  color: #3498db;

}



.wedding-photos .view:hover {

  background: #3498db;

  border-color: #3498db;

}

.wedding-photos .over a:hover {

  color: #3498db;

}



.youga-slider .slick-dots li button:hover {

  border-color: #3498db;

  background: #3498db;

}

.youga-slider .slick-dots li.active button {

  border-color: #3498db;

  background: #3498db;

}



.login-form2 a:hover {

  color: #3498db;

}

.login-form2 .btn-info:hover {

  background: #3498db;

}



.contact-address h3 .fa {

  color: #3498db;

}

.contact-address a:hover {

  color: #3498db;

}



.faq-section .smoothanchor:hover,

.faq-section .opener:hover {

  color: #3498db;

}

.faq-section.style3 .divider-line2 .smoothanchor:hover {

  color: #3498db;

}



.parallax-section .next-section:hover {

  color: #3498db;

}

.parallax-section .scroll {

  background: #3498db;

}

.parallax-section .scroll:hover {

  background: #3498db;

}

.parallax-section .scroll.add:hover {

  background: #3498db;

}



.error-section h1 {

  color: #3498db;

}

.error-section .text a {

  color: #3498db;

}

.error-section .btn-down:hover {

  color: #3498db;

}

.error-section.style7 .wedding-nav .countdown-period {

  background: #3498db;

}



.btn-back {

  color: #3498db;

  border-color: #3498db;

}

.btn-back:hover {

  background: #3498db;

}



#style-changer .list-style .btn2 {

  background: #3498db;

  border-color: #3498db;

}

#style-changer .list-style .btn2.add:hover {

  background: #3498db;

  border-color: #3498db;

}

#style-changer .changer-opener {

  color: #3498db;

}



#gotoTop:hover,

.page-heading .icon,

.events-icons .icon,

.footer-social a:hover,

.error-form .btn:hover,

.footer-form .btn-submit,

.mailing-form .btn-submit,

.events-mainbanner .subtitle,

.page-heading .heading:after,

.page-heading .heading2:after,

.page-heading .heading8:after,

.page-heading .heading9:after,

.page-heading .heading3:after,

.page-heading .heading5:after,

.page-heading .heading5:before,

.page-heading .heading2:before,

.page-heading .heading8:before,

.grey-contact-form .btn-submit,

.features-col.style4 .panel-title a.collapsed:hover,

.shop-gallery .slick-arrow:hover {

  background: #3498db;

}



.lost-block h2,

#nav7 ul a:hover,

.page-heading .dot,

.sidenav-port a:hover,

.shop-gallery .add-text,

.footer-social2 a:hover,

.contact-form2 .btn-f-info,

.services-section h3 .icon,

.page-heading .heading4:after,

.croporate-slider .slick-arrow,

.page-heading .heading4:before,

.main-slider .slick-arrow:hover,

.testimonials blockquote:before,

.welcom-banner .slick-arrow:hover,

.features-col.style4 .list-events .fa,

#footer.style15 .footer-cent h5 .add-color,

#footer.style15 .f-contact-info2 address .fa,

#footer.style15 .f-contact-info2 .tel-box .fa,

#footer.style15 .f-contact-info2 .mail-box .fa {

  color: #3498db;

}



.page-heading .heading7:after,

.page-heading .heading10:after,

.page-heading .heading7:before {

  border-color: #3498db;

}

.main-color{color: #3498db !important;}