.woocommerce p.stars.selected a:not(.active):before {
    color: #e74c3c;
}

#header .opener-icons:hover {
	background: #e74c3c;
}

#header .header-top a:hover {
	color: #e74c3c;
}

#header .head-social a {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header .head-social a:hover {
	background: #e74c3c;
}

#header .head-socialnetworks a:hover {
	color: #e74c3c;
}

#header .cart-box:hover .opener-icons {
	background: #e74c3c;
}

#header .cart-box .cart-drop .cart-holder:after {
	background: #e74c3c;
}

#header .cart-box .cart-drop a:hover {
	color: #e74c3c;
}

#header .cart-box .cart-drop .total-price-area .price {
	color: #e74c3c;
}

#header .cart-box .cart-drop .btn {
	background: #e74c3c;
	border-color: #e74c3c;
}

#header .cart-box .cart-drop .btn.add:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

#header .cart-box .cart-list .product-name a:hover {
	color: #e74c3c;
}

#header .cart-box .cart-list .rating li .fa-star {
	color: #e74c3c;
}

#header .cart-box .cart-list .delete:hover {
	color: #e74c3c;
}

#header .lang-drop {
	border-bottom-color: #e74c3c;
}

#header .lang-drop a:hover {
	color: #e74c3c;
}

#header .leng-opener:hover {
	color: #e74c3c;
}

#header .cartopener-main .cart-num {
	background: #e74c3c;
}

#header.style3 .opener-icons:hover {
	border-color: #e74c3c;
}

#header.style3 .cart-opener .arrow {
	background: #e74c3c;
}

#header.style4 .opener-icons:hover {
	color: #e74c3c;
}

#header.style4 #nav .nav-top > li > a:hover {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style4 #nav .nav-top > li.hover > a,
#header.style4 #nav .nav-top > li:hover > a,
#header.style4 #nav .nav-top > li.active > a {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style4 #nav .nav-opener:hover {
	border-color: #e74c3c;
}

#header.style5 .opener-icons:hover {
	border-color: #e74c3c;
}

#header.style5 #nav .nav-top > li:hover > a,
#header.style5 #nav .nav-top > li.hover > a,
#header.style5 #nav .nav-top > li.active > a {
	color: #e74c3c;
}

#header.style5 #nav .nav-top > li > a:hover {
	color: #e74c3c;
}

#header.style5 #nav .nav-opener:hover {
	border-color: #e74c3c;
}

#header.style7 .opener-icons:hover {
	color: #e74c3c;
}

#header.style7 #nav .nav-top > li > a:hover {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style7 #nav .nav-top > li.hover > a,
#header.style7 #nav .nav-top > li:hover > a,
#header.style7 #nav .nav-top > li.active > a {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style7 #nav .nav-opener:hover {
	border-color: #e74c3c;
}

#header.style8 #nav .nav-top > li > a:hover {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style8 #nav .nav-top > li:hover > a,
#header.style8 #nav .nav-top > li.hover > a,
#header.style8 #nav .nav-top > li.active > a {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style8 #nav .nav-opener:hover {
	border-color: #e74c3c;
}

#header.style8 .opener-icons:hover {
	color: #e74c3c;
}

#header.style10 #nav .nav-top > li > a:hover {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style10 #nav .nav-top > li:hover > a,
#header.style10 #nav .nav-top > li.hover > a,
#header.style10 #nav .nav-top > li.active > a {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style11 #nav .nav-top > li > a:hover {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style11 #nav .nav-top > li.hover > a,
#header.style11 #nav .nav-top > li:hover > a,
#header.style11 #nav .nav-top > li.active > a {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style11 #nav .nav-opener:hover {
	border-color: #e74c3c;
}

#header.style12 .info-list a:hover {
	color: #e74c3c;
}

#header.style12 .info-list .fa {
	color: #e74c3c;
}

#header.style12 .language-nav a:hover {
	color: #e74c3c;
}

#header.style12 #nav:after {
	background: #e74c3c;
}

#header.style12 #nav .quote-btn:hover {
	color: #e74c3c;
}

#header.style12 #nav .nav-opener:hover {
	border-color: #e74c3c;
}

#header.style16 #nav .nav-top > li > a:hover {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style16 #nav .nav-top > li:hover > a,
#header.style16 #nav .nav-top > li.hover > a,
#header.style16 #nav .nav-top > li.active > a {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style16 .opener-icons:hover {
	color: #e74c3c;
}

#header.style16 #nav .nav-opener:hover {
	border-color: #e74c3c;
}

#header.style17 #nav .nav-top > li > a:hover {
	border-color: #e74c3c;
}

#header.style17 #nav .nav-top > li:hover > a,
#header.style17 #nav .nav-top > li.hover > a,
#header.style17 #nav .nav-top > li.active > a {
	border-color: #e74c3c;
}

#header.style18 .info-list a:hover {
	color: #e74c3c;
}

#header.style18 .info-list .fa {
	color: #e74c3c;
}

#header.style18 .head-socialnetworks a:hover {
	color: #e74c3c;
}

#header.style18 #nav .quote-btn {
	background: #e74c3c;
}

#header.style18 #nav .nav-top > li > a:hover {
	border-color: #e74c3c;
	color: #e74c3c;
}

#header.style18 #nav .nav-top > li:hover > a,
#header.style18 #nav .nav-top > li.hover > a,
#header.style18 #nav .nav-top > li.active > a {
	border-color: #e74c3c;
}

#header.style18 #nav .nav-opener:hover {
	border-color: #e74c3c;
}

#header.style20 #nav .nav-top > li > a:hover {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style20 #nav .nav-top > li:hover > a,
#header.style20 #nav .nav-top > li.hover > a,
#header.style20 #nav .nav-top > li.active > a {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style20 #nav .nav-opener:hover {
	border-color: #e74c3c;
}

#header.style20 .opener-icons:hover {
	color: #e74c3c;
}

#header.style21 .header-top:after {
	background: #e74c3c;
}

#header.style21 #nav .nav-top > li > a:hover {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style21 #nav .nav-top > li.hover > a,
#header.style21 #nav .nav-top > li:hover > a,
#header.style21 #nav .nav-top > li.active > a {
	color: #e74c3c;
	border-color: #e74c3c;
}

#header.style21 #nav .nav-opener:hover {
	border-color: #e74c3c;
}

#header.style21 .opener-icons:hover {
	color: #e74c3c;
}

#header.style26 #nav .nav-top > li > a:hover {
	border-color: #e74c3c;
}

#header.style26 #nav .nav-top > li:hover > a,
#header.style26 #nav .nav-top > li.hover > a,
#header.style26 #nav .nav-top > li.active > a {
	border-color: #e74c3c;
}

#header.style27 #nav .nav-top > li > a:hover {
	border-color: #e74c3c;
}

#header.style27 #nav .nav-top > li:hover > a,
#header.style27 #nav .nav-top > li.hover > a,
#header.style27 #nav .nav-top > li.active > a {
	border-color: #e74c3c;
}

#header.style27 #nav .nav-opener:hover {
	border-color: #e74c3c;
}

#header.style27 .opener-icons:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

#header.fixed-position #nav .nav-top > li:hover > a,
#header.fixed-position #nav .nav-top > li.hover > a,
#header.fixed-position #nav .nav-top > li.active > a {
	color: #e74c3c;
}

#header.fixed-position #nav .nav-top > li > a:hover {
	color: #e74c3c;
}

#header.fixed-position .opener-icons:hover {
	border-color: #e74c3c;
}

#header.fixed-position.style4 .opener-icons:hover {
	color: #e74c3c;
}

#header.fixed-position.style7 .opener-icons:hover {
	color: #e74c3c;
}

#header.fixed-position.style8 .opener-icons:hover {
	color: #e74c3c;
}

#header.fixed-position.style9 #nav .nav-top > li > a:hover,
#header.fixed-position.style9 #nav .nav-top > li:hover > a,
#header.fixed-position.style9 #nav .nav-top > li.hover > a,
#header.fixed-position.style9 #nav .nav-top > li.active > a {
	color: #e74c3c;
}

#header.fixed-position.style9 #nav .nav-top > li > a:hover {
	color: #e74c3c;
}

#header.fixed-position.style10 #nav .nav-top > li:hover > a,
#header.fixed-position.style10 #nav .nav-top > li.hover > a,
#header.fixed-position.style10 #nav .nav-top > li.active > a {
	color: #e74c3c;
}

#header.fixed-position.style10 #nav .nav-top > li > a:hover {
	color: #e74c3c;
}

#header.fixed-position.style10 .icon-list > li .opener-icons:hover {
	border-color: #e74c3c;
}

#header.fixed-position.style10 .icon-list > li:hover .opener-icons {
	border-color: #e74c3c;
}

#header.fixed-position.style16 .opener-icons:hover {
	color: #e74c3c;
}

#header.fixed-position.style17 #nav .nav-top > li.active > a,
#header.fixed-position.style17 #nav .nav-top > li:hover > a,
#header.fixed-position.style17 #nav .nav-top > li.hover > a,
#header.fixed-position.style17 #nav .nav-top > li > a:hover {
	color: #e74c3c;
}

#header.fixed-position.style17 .opener-icons:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

#header.fixed-position.style19 #nav .nav-top > li.active > a,
#header.fixed-position.style19 #nav .nav-top > li:hover > a,
#header.fixed-position.style19 #nav .nav-top > li.hover > a,
#header.fixed-position.style19 #nav .nav-top > li > a:hover {
	color: #e74c3c;
}

#header.fixed-position.style20 .opener-icons:hover {
	color: #e74c3c;
}

#header.fixed-position.style21 .opener-icons:hover {
	color: #e74c3c;
}

#nav a:hover {
	color: #e74c3c;
}

#nav li.hover > a,
#nav li:hover > a,
#nav li.active > a {
	color: #e74c3c;
}

#nav .drop ul:after {
	background: #e74c3c;
}

#nav .mega-drop .drop-holder:after {
	background: #e74c3c;
}

#nav .nav-opener:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.search-popup .close-btn:hover {
	background: #e74c3c;
}

.search-popup .submit:hover {
	color: #e74c3c;
}

.side-widget h2:after {
	background: #e74c3c;
}

.side-widget a:hover {
	color: #e74c3c;
}

.side-widget .btn {
	background: #e74c3c;
	border-color: #e74c3c;
}

.sidemenu-photo.v9 #nav7 ul a:hover,
.sidemenu-photo.v11 #nav7 ul a:hover,
.sidemenu-photo.v12 #nav7 ul a:hover,
.sidemenu-photo.v11 #nav7 ul li.active a,
.sidemenu-photo.v12 #nav7 ul li.active a,
.sidemenu-photo.v9 #nav7 .nav-opener:hover,
.sidemenu-photo.v10 #nav7 .nav-opener:hover,
.sidemenu-photo.v10 #nav7 ul a:hover {
	color: #e74c3c;
}

#footer.style11 .btn-more:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

#footer.style13 .f-info-box .tel {
	color: #e74c3c;
}

#footer.style15 .footer-bottom .footer-nav li a:hover {
	color: #e74c3c;
}

#footer.style17 .footer-bottom .footer-nav li a:hover {
	color: #e74c3c;
}

#footer.style19 .f-info-box .tel {
	color: #e74c3c;
}

#footer.style23 .f-info-box .tel {
	color: #e74c3c;
}

#footer.style25 .footer-social li a:hover {
	background: #e74c3c;
}

#footer.style26 .f-info-box .num {
	color: #e74c3c;
}

#footer.style27 .f-info-box .tel {
	color: #e74c3c;
}

#footer.style30 .f-social-networks a:hover {
	color: #e74c3c;
}

.mailing-form2 .btn-submit {
	background: #e74c3c;
}

.mailing-form2 .btn-submit:hover {
	color: #e74c3c;
}

.bottom-box3 .footer-social a:hover {
	background: #e74c3c;
}

.f-our-mission .btn-more .fa {
	color: #e74c3c;
}

.f-our-mission .btn-more:hover {
	color: #e74c3c;
}

.newsletter-form button:hover {
	color: #e74c3c;
}

.time-nav .close-txt {
	background: #e74c3c;
}

#lancer-footer .f-social a:hover {
	background: #e74c3c;
}

#lancer-footer .footer-bottom ul a:hover {
	color: #e74c3c;
}

.wed-social .social a:hover {
	background: #e74c3c;
}

.socialize-holder .footer-social a:hover {
	background: #e74c3c;
}

.btn-f-default:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.btn-f-info {
	background: #e74c3c;
	border-color: #e74c3c;
}

.btn-history:before {
	background: #e74c3c;
}

.btn-history:hover {
	background: #e74c3c;
}

.btn-history:hover:after {
	color: #e74c3c;
}

.btn-more:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.btn-resume {
	background: #e74c3c;
	border-color: #e74c3c;
}

.know-more {
	background: #e74c3c;
	border-color: #e74c3c;
}

.portfolio-view:before,
.portfolio-view:after {
	color: #e74c3c;
}

.portfolio-view:hover span {
	color: #e74c3c;
}

.page-heading .heading3:before {
	border-color: #e74c3c transparent transparent;
}

.page-banner .heading:before {
	background: #e74c3c;
}

.page-banner .breadcrumbs li.active a {
	color: #e74c3c;
}

.page-banner .breadcrumbs a:hover {
	color: #e74c3c;
}

.page-banner.grey .breadcrumbs a:hover {
	color: #e74c3c;
}

.main-slider .slick-dots .slick-active button,
.main-slider .slick-dots button:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.f-iconbox .icon {
	color: #e74c3c;
	border-color: #e74c3c;
}

.f-iconbox:hover .icon {
	background: #e74c3c;
}

.f-iconbox.light:hover .icon {
	background: #e74c3c;
	border-color: #e74c3c;
}

.team-block .over {
	background: #e74c3c;
}

.team-box .over {
	background: #e74c3c;
}

.team-box .subtitle a {
	color: #e74c3c;
}

.team-box .info-box .add-text a {
	color: #e74c3c;
}

.team-box:hover .social-network {
	background: #e74c3c;
}

.team-box.style3 .social-network {
	background: #e74c3c;
}

.testimon-section .icon {
	background: #e74c3c;
}

.testimon-section .slick-dots li.slick-active button {
	background: #e74c3c;
	border-color: #e74c3c;
}

.testimon-section .slick-dots button:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.testimon-section.alt-version blockquote .fa {
	color: #e74c3c;
}

.isotop-controls li.active a {
	background: #e74c3c;
}

.isotop-controls a:hover {
	background: #e74c3c;
}

.isotop-controls2 a:hover {
	background: none;
}

.isotop-controls2 a:hover:after {
	background: #e74c3c;
}

.isotop-controls2 li.active a:after {
	background: #e74c3c;
}

.isotop-controls3 a:hover:after {
	background: #e74c3c;
}

.isotop-controls3 li.active a:after {
	background: #e74c3c;
}

.isotop-controls4 a:hover:before {
	background: #e74c3c;
}

.isotop-controls4 li.active a:before {
	background: #e74c3c;
}

.isotop-controls4 .view-all:hover:before {
	background: #e74c3c;
}

.portfolio-block .over .plus {
	color: #e74c3c;
}

.portfolio-block .title:after {
	background: #e74c3c;
}

.portfolio-block .search {
	background: #e74c3c;
}

.portfolio-block .link:hover {
	background: #e74c3c;
}

.portfolio-block .portfolio-btn:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.portfolio-text .btn:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.work-slider .slick-arrow:hover {
	background: #e74c3c;
}

.price-section .box:hover .heading,
.price-section .box.active .heading {
	background: #e74c3c;
}

.price-section .box:hover .btn,
.price-section .box.active .btn {
	background: #e74c3c;
	border-color: #e74c3c;
}

.price-section .btn:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.price-section.style2 .box.active .btn:hover,
.price-section.style2 .box:hover .btn:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.price-section.style3 .box.active .heading,
.price-section.style3 .box:hover .heading {
	background: #e74c3c;
}

.price-section.style5 .box.active,
.price-section.style5 .box:hover {
	border-color: #e74c3c;
}

.price-section.style5 .box.active .heading,
.price-section.style5 .box:hover .heading {
	background: #e74c3c;
}

.price-section.style5 .box.active .btn-purchase,
.price-section.style5 .box:hover .btn-purchase {
	background: #e74c3c;
	border-color: #e74c3c;
}

.blog-section .beans-stepslider .slick-dots li.slick-active button {
	border-color: #e74c3c;
}

.blog-section .beans-stepslider .slick-dots li.slick-active button:after {
	background: #e74c3c;
}

.blog-section .beans-stepslider .slick-dots button:hover {
	border-color: #e74c3c;
}

.blog-section .beans-stepslider .slick-dots button:after {
	background: #e74c3c;
}

.blog-m-post h3 a:hover {
	color: #e74c3c;
}

.blog-m-post .meta a:hover {
	color: #e74c3c;
}

.blog-m-post .icon {
	background: #e74c3c;
}

.blog-m-post.style2 .blog-txt {
	border-color: #e74c3c;
}

.facts-section .fa {
	color: #e74c3c;
}

.facts-section .num:after {
	background: #e74c3c;
}

.clients-section .beans-stepslider .slick-next:hover,
.clients-section .beans-stepslider .slick-prev:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.wedo-section .coll:hover .icon {
	background: #e74c3c;
	border-color: #e74c3c;
}

.wedo-section .coll:hover .btn {
	background: #e74c3c;
	border-color: #e74c3c;
}

.wedo-section .icon:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.counter-container .fa {
	color: #e74c3c;
}

.counter-container .num:after {
	background: #e74c3c;
}

.services-section h3 .fa {
	color: #e74c3c;
}

.video-section .play-icon {
	color: #e74c3c;
}

.process-section .icon .num {
	background: #e74c3c;
}

.progress-holder .progress-bar-outer {
	background: #e74c3c;
}

.features-section .fa {
	color: #e74c3c;
}

.core-section .list li:after {
	color: #e74c3c;
}

.twitter-section a {
	color: #e74c3c;
}

.appshowcase-banner .platform a:hover {
	color: #e74c3c;
}

.about-section .fa {
	color: #e74c3c;
}

.about-section .know-more {
	background: #e74c3c;
	border-color: #e74c3c;
}

.counter-section .num:after {
	background: #e74c3c;
}

.team-lightbox .socialnetworks a:hover {
	color: #e74c3c;
}

.app-mainbanner h1 .add {
	color: #e74c3c;
}

.app-mainbanner .btn {
	background: #e74c3c;
}

.get-app .platform a:hover {
	color: #e74c3c;
}

.appsub-section .input-box #mc_embed_signup input.button {
	background: #e74c3c;
}

.architecture-gallery .subtitle {
	background: #e74c3c;
}

.architecture-gallery .slick-arrow:hover {
	color: #e74c3c;
}

.architecture-gallery .slick-arrow:after {
	background: #e74c3c;
}

.archi-columns .coll:hover {
	background: #e74c3c;
}

.archi-columns h2:after {
	background: #e74c3c;
}

.archi-projects .heading-v2:after {
	background: #e74c3c;
}

.archi-projects h3:after {
	background: #e74c3c;
}

.archi-projects .beans-slider .slick-dots li button:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.archi-projects .beans-slider .slick-dots li.slick-active button {
	border-color: #e74c3c;
	background: #e74c3c;
}

.archi-whyus h2 .add {
	color: #e74c3c;
}

.blog-over h2 a:hover {
	color: #e74c3c;
}

.blog-over .author-info .txt a:hover {
	color: #e74c3c;
}

.blog-over .blog-nav li a:hover {
	color: #e74c3c;
}

.blog-post-v1 .more:hover {
	color: #e74c3c;
}

.blog-post-v1 h2 a:hover {
	color: #e74c3c;
}

.blog-post-v1 h3 {
	color: #e74c3c;
}

.blog-post-v1 h3 a {
	color: #e74c3c;
}

.blog-post-v1 .meta a:hover {
	color: #e74c3c;
}

.blog-post-v1 .icon {
	background: #e74c3c;
}

.blog-post-v1 .post-blockquote {
	border-color: #e74c3c;
}

.blog-footer .btn-box .btn:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.blog-footer .btn-load:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.blog-footer .b-pagination li.active a {
	background: #e74c3c;
	border-color: #e74c3c;
}

.blog-footer .b-pagination a:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.blog-post-v2 h2 a:hover {
	color: #e74c3c;
}

.blog-post-v2 .meta a:hover {
	color: #e74c3c;
}

.blog-post-v2 .icon {
	background: #e74c3c;
}

.widget .searchform button {
	background: #e74c3c;
}

.widget .tabset a:hover {
	background: #e74c3c;
}

.widget .tabset .active a {
	background: #e74c3c;
}

.widget.cate-widget a:hover {
	color: #e74c3c;
}

.widget.cate-widget a .fa {
	color: #e74c3c;
}

.widget.cate-widget ul li.active a {
	color: #e74c3c;
}

.comment-box .box.img-box .reply:hover {
	color: #e74c3c;
}

.comment-form .btn {
	background: #e74c3c;
}

.blog-isotop-nav li.active a {
	background: #e74c3c;
}

.blog-isotop-nav a:hover {
	background: #e74c3c;
}

.welcome-heading .main-text .rotate-text {
	background: #e74c3c;
}

.about-post h3 a:hover {
	color: #e74c3c;
}

.about-post .btn:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.nav-tabs > li > a:before {
	background: #e74c3c;
}

.nav-tabs > li > a:after {
	border-color: #e74c3c transparent transparent transparent;
}

.nav-tabs > li.active > a:before,
.nav-tabs > li.active > a:hover:before,
.nav-tabs > li.active > a:focus:before {
	background: #e74c3c;
}

.nav-tabs > li.active > a:after,
.nav-tabs > li.active > a:hover:after,
.nav-tabs > li.active > a:focus:after {
	border-color: #e74c3c transparent transparent transparent;
}

.panel-title a {
	background: #e74c3c;
}

.panel-title a:hover {
	background: #e74c3c;
}

.dark .panel-title a.collapsed:hover {
	background: #e74c3c;
}

.create-business h2 a {
	color: #e74c3c;
}

.create-business .btn-f-info:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.create-business .btn-f-default {
	background: #e74c3c;
	border-color: #e74c3c;
}

.construct-gallery .title {
	border-left-color: #e74c3c;
}

.construct-gallery .btn:before {
	background: #e74c3c;
}

.construct-gallery .btn:hover {
	background: #e74c3c;
}

.construct-gallery .slick-dots li button:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.construct-gallery .slick-dots li.slick-active button {
	background: #e74c3c;
	border-color: #e74c3c;
}

.safety-section h2 .add {
	color: #e74c3c;
}

.safety-section .btn:before {
	background: #e74c3c;
}

.safety-section .btn:hover {
	background: #e74c3c;
}

.safety-section .more:before {
	background: #e74c3c;
}

.const-services .icon {
	color: #e74c3c;
}

.const-services .slick-arrow:hover {
	background: #e74c3c;
}

.const-services.style2 .box .fa {
	color: #e74c3c;
}

.const-services.style2 .box:hover .over {
	background: rgba(231, 76, 60, .8);
}

.onepage-banner .down-arrow:hover {
	color: #e74c3c;
}

.about-aricle .img-box {
	background: #e74c3c;
}

.tabset-onepage li a:before {
	background: #e74c3c;
}

.tabset-onepage li a:hover .fa {
	color: #e74c3c;
}

.tabset-onepage li.active a .fa {
	color: #e74c3c;
}

.tab-content.onepage .btn {
	background: #e74c3c;
	border-color: #e74c3c;
}

.process-nav li .fa {
	color: #e74c3c;
}

.process-nav li:hover .process {
	background: #e74c3c;
	border-color: #e74c3c;
}

.recentblog-col h3 a:hover {
	color: #e74c3c;
}

.recentblog-col .meta-nav a:hover {
	color: #e74c3c;
}

.recentblog-col .date-holder a {
	background: #e74c3c;
}

.install-demos .btn {
	background: #e74c3c;
	border-color: #e74c3c;
}

.contact-form .btn-submit {
	background: #e74c3c;
	border-color: #e74c3c;
}

.lancer-do .fa {
	color: #e74c3c;
}

.lancer-do.style2 .fa {
	color: #e74c3c;
}

.lancer-do.style2 .list-do a:hover {
	background: #e74c3c;
}

.personal-process .beans-slider .slick-dots li.slick-active button {
	border-color: #e74c3c;
	background: #e74c3c;
}

.personal-process .beans-slider .slick-dots button:hover {
	border-color: #e74c3c;
	background: #e74c3c;
}

.personal-process .icon {
	background: #e74c3c;
}

.personal-exper .p-holder .icon {
	background: #e74c3c;
}

.personal-exper.style3 h2 a:hover {
	color: #e74c3c;
}

.p-skills .progress-holder .progress-bar-outer {
	background: #e74c3c;
}

.port-single ul a {
	color: #e74c3c;
}

.port-single .social-network a:hover {
	background: #e74c3c;
}

.portfolio-footer.style2 .btn {
	background: #e74c3c;
	border-color: #e74c3c;
}

.realestate-slider .slick-arrow:hover {
	color: #e74c3c;
}

.realestate-section .tabset li.active a {
	background: #e74c3c;
	border-left-color: #e74c3c;
}

.realestate-section .tabset li:hover a {
	background: #e74c3c;
	border-left-color: #e74c3c;
}

.realestate-section .tab-content {
	background: #e74c3c;
}

.realestate-services .img-box a:hover {
	color: #e74c3c;
	border-color: #e74c3c;
}

.realestate-services .star-list li.active a {
	color: #e74c3c;
}

.realestate-services .price {
	color: #e74c3c;
}

.realestate-services .slick-arrow:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.resturant-gallery .slick-arrow:hover {
	color: #e74c3c;
}

.menu-block .btn.view:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.our-menu-nav li a:before {
	background: #e74c3c;
}

.our-menu-nav li a:hover {
	color: #e74c3c;
}

.our-menu-nav li.active a {
	color: #e74c3c;
}

.slide-frame .slide-box h3 a:hover {
	color: #e74c3c;
}

.slide-frame .slide-box .slide-socials a:hover {
	color: #e74c3c;
}

.slide-socials a:hover {
	color: #e74c3c;
}

.menu-article h2 a:hover {
	color: #e74c3c;
}

.rattings-nav li .fa {
	color: #e74c3c;
}

.shop-gallery .slick-dots li button:hover {
	border-color: #e74c3c;
	background: #e74c3c;
}

.shop-gallery .slick-dots li.slick-active button {
	border-color: #e74c3c;
	background: #e74c3c;
}

.btn-shop:hover {
	color: #e74c3c;
}

.btn-shop.add {
	color: #e74c3c;
}

.product-nav li.active a {
	background: #e74c3c;
}

.product-nav a:hover {
	background: #e74c3c;
}

.new-product h2 a:hover {
	color: #e74c3c;
}

.new-product .btn-cart:hover {
	color: #e74c3c;
}

.rattings-nav {
	color: #e74c3c;
}

.rattings-nav li .fa {
	color: #e74c3c;
}

.special-block .slick-arrow:hover {
	color: #e74c3c;
}

.special-block.style2 .btn-slider:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.special-box .btn:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.other-services:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.shop-features h2:before {
	background: #e74c3c;
}

.deal-gallery .name:hover {
	color: #e74c3c;
}

.deal-gallery .price {
	color: #e74c3c;
}

.deal-gallery .btn-sale {
	background: #e74c3c;
}

.deal-gallery .slick-arrow:hover {
	color: #e74c3c;
	border-color: #e74c3c;
}

.product-article h3 a:hover {
	color: #e74c3c;
}

.links-nav a:hover {
	color: #e74c3c;
}

.links-nav .fa {
	color: #e74c3c;
}

.social-block.style4 .social-container .footer-social a:hover {
	background: #e74c3c;
}

.shop-header p a {
	color: #e74c3c;
}

.shop-footer p a {
	color: #e74c3c;
}

.shop-next:hover,
.shop-prev:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.shop-pagination li a:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.shop-pagination li.active a {
	background: #e74c3c;
	border-color: #e74c3c;
}

.shop-widget ul li a:before {
	border-color: transparent transparent transparent #e74c3c;
}

.shop-widget ul li a:hover {
	color: #e74c3c;
}

.shop-product-info h2 a:hover {
	color: #e74c3c;
}

.shop-product-info .btn-cart:hover {
	color: #e74c3c;
}

.description-header .review:hover {
	color: #e74c3c;
}

.cart-form .btn:hover {
	background: #e74c3c;
}

.btn-add .fa {
	color: #e74c3c;
}

.btn-add:hover {
	color: #e74c3c;
}

.descriptio-tabs .nav-tabs > li > a:hover {
	background: #e74c3c;
}

.descriptio-tabs .nav-tabs > li.active > a,
.descriptio-tabs .nav-tabs > li.active > a:hover,
.descriptio-tabs .nav-tabs > li.active > a:focus {
	background: #e74c3c;
}

.related-shop .btn-prev:hover {
	color: #e74c3c;
	border-color: #e74c3c;
}

.reply-box:hover {
	color: #e74c3c;
}

.shop-table .btn-close:hover {
	color: #e74c3c;
}

.shop-apply .btn-slider:hover {
	background: #e74c3c;
}

.apply-form .btn-slider:hover {
	background: #e74c3c;
}

.shop-calculation.checkout .cart-table .col-2.add {
	color: #e74c3c;
}

.update-form .btn:hover {
	background: #e74c3c;
}

.rang-form .btn-form:hover {
	background: #e74c3c;
}

.travel-slider .slick-arrow:hover {
	color: #e74c3c;
}

.travel-section .btn-submit {
	background: #e74c3c;
}

.wedding-banner .slick-arrow:hover {
	color: #e74c3c;
}

.wedding-nav .countdown-section {
	background: #e74c3c;
}

.happy-couple h3 a:hover {
	color: #e74c3c;
}

.happy-couple .title {
	color: #e74c3c;
}

.happy-couple .social a:hover {
	color: #e74c3c;
}

.love-story .row-holder time {
	background: #e74c3c;
}

.love-story h3 a:hover {
	color: #e74c3c;
}

.wedding-photos .view:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

.wedding-photos .over a:hover {
	color: #e74c3c;
}

.youga-slider .slick-dots li button:hover {
	border-color: #e74c3c;
	background: #e74c3c;
}

.youga-slider .slick-dots li.active button {
	border-color: #e74c3c;
	background: #e74c3c;
}

.login-form2 a:hover {
	color: #e74c3c;
}

.login-form2 .btn-info:hover {
	background: #e74c3c;
}

.contact-address h3 .fa {
	color: #e74c3c;
}

.contact-address a:hover {
	color: #e74c3c;
}

.faq-section .smoothanchor:hover,
.faq-section .opener:hover {
	color: #e74c3c;
}

.faq-section.style3 .divider-line2 .smoothanchor:hover {
	color: #e74c3c;
}

.parallax-section .next-section:hover {
	color: #e74c3c;
}

.parallax-section .scroll {
	background: #e74c3c;
}

.parallax-section .scroll:hover {
	background: #e74c3c;
}

.parallax-section .scroll.add:hover {
	background: #e74c3c;
}

.error-section h1 {
	color: #e74c3c;
}

.error-section .text a {
	color: #e74c3c;
}

.error-section .btn-down:hover {
	color: #e74c3c;
}

.error-section.style7 .wedding-nav .countdown-period {
	background: #e74c3c;
}

.btn-back {
	color: #e74c3c;
	border-color: #e74c3c;
}

.btn-back:hover {
	background: #e74c3c;
}

#style-changer .list-style .btn2 {
	background: #e74c3c;
	border-color: #e74c3c;
}

#style-changer .list-style .btn2.add:hover {
	background: #e74c3c;
	border-color: #e74c3c;
}

#style-changer .changer-opener {
	color: #e74c3c;
}

#gotoTop:hover,
.bg-theme-color,
.page-heading .icon,
.events-icons .icon,
.footer-social a:hover,
.error-form .btn:hover,
.footer-form .btn-submit,
.mailing-form .btn-submit,
.events-mainbanner .subtitle,
.page-heading .heading:after,
.page-heading .heading2:after,
.page-heading .heading8:after,
.page-heading .heading9:after,
.page-heading .heading3:after,
.page-heading .heading5:after,
.page-heading .heading5:before,
.page-heading .heading2:before,
.page-heading .heading8:before,
.grey-contact-form .btn-submit,
.features-col.style4 .panel-title a.collapsed:hover,
.shop-gallery .slick-arrow:hover {
	background: #e74c3c;
}

.lost-block h2,
#nav7 ul a:hover,
.page-heading .dot,
.burger-menu:hover,
.burger-menu:focus,
.sidenav-port a:hover,
.shop-gallery .add-text,
.footer-social2 a:hover,
.contact-form2 .btn-f-info,
.services-section h3 .icon,
.bakery-textbox h2 .add-color,
.page-heading .heading4:after,
.page-heading .heading4:before,
.main-slider .slick-arrow:hover,
.testimonials blockquote:before,
#footer.style31 .footer-cent h5,
.hold-backery .menu-article .btn,
#footer.style31 .footer-aside h5,
.welcom-banner .slick-arrow:hover,
.page-heading .heading11 .add-color,
#header.style28 .social-list a:hover,
.croporate-slider .slick-arrow:hover,
.features-col.style4 .list-events .fa,
#footer.style31 .footer-news-box time,
#footer.style31 .footer-social a:hover,
#footer.style31 .newsletter-form button,
#footer.style15 .footer-cent h5 .add-color,
#footer.style15 .f-contact-info2 address .fa,
#footer.style15 .f-contact-info2 .tel-box .fa,
#header.fixed-position.style28 .social-list a:hover,
#footer.style15 .f-contact-info2 .mail-box .fa {
	color: #e74c3c;
}

.page-heading .heading7:after,
.page-heading .heading10:after,
.hold-backery .menu-article .btn,
.page-heading .heading7:before {
	border-color: #e74c3c;
}

.main-color {
	color: #e74c3c !important;
}

.woocommerce p.stars.selected a.active:before, .woocommerce p.stars:hover a:before {
    color: #e74c3c;
}